name: Build master
on:
  push:
    branches: [master]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v1
      - name: Docker login
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: docker login docker.pkg.github.com -u arikkfir -p "${GITHUB_TOKEN}"
      - name: Build image
        run: docker build --tag=docker.pkg.github.com/${GITHUB_REPOSITORY}/neo4j:${GITHUB_SHA::7} .
      - name: Tag ref image as latest
        run: docker tag docker.pkg.github.com/${GITHUB_REPOSITORY}/neo4j:${GITHUB_SHA::7} docker.pkg.github.com/${GITHUB_REPOSITORY}/neo4j:latest
      - name: Push ref image
        run: docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/neo4j:${GITHUB_SHA::7}
      - name: Push latest image
        run: docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/neo4j:latest
